body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(bg.jpg);
    background-position: center;
    background-size: cover;
    font-family: Arial, sans-serif;
    flex-direction: column;
}

.container {
    perspective: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo-frame {
    width: 300px;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s;
}

#layer1 {
    background-image: url('bg1.png');
    transform: translateZ(20px);
}

#layer2 {
    background-image: url('flw1.png');
    transform: translateZ(100px);
}

#layer3 {
    background-image: url('flw2.png');
    transform: translateZ(150px);
}


#nextPageButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #d48e3e;
    color: white;
    border-radius: 5px;
}

#nextPageButton:hover {
    background-color: #ffca6f;
}

button {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: white;
}