body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
    overflow: hidden;
}

.container {
    position: relative;
    padding: 5px;
    background: url('bg2.gif') no-repeat center center fixed;
    background-size: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    height: 1000vh;
}

.hidden {
    display: none; /* Sembunyikan kontainer */
}

.button {
    display: inline-block;
    background-color: #fcd26f;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #6c5500;
}


.photo-frame {
    width: 350px;
    height: 400px;
    position: center;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s;
}

#layer1 {
    background-image: url('Amplop2.png');
    transform: translateZ(20px);
}

#layer2 {
    background-image: url('surat.png');
    transform: translateZ(100px);
}

#layer3 {
    background-image: url('bulu2.png');
    transform: translateZ(150px);
}

img {
    width: 150px;
    height: auto;
    display: block;
    margin-top: 5px;
}

form button {
    background-color: #fcd26f;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #6c5500;
}

button {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: white;
}