/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(bg.jpg);
    background-position: center;
    background-size: cover;
}

.gmb{
    background-position: center;
    background-size: cover;
    max-width: 250px;
}

.container {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 350px;
    text-align: center;
}

main .intro, main .form-section {
    margin-top: 20px;
}

.intro h2, .form-section h2 {
    margin-bottom: 20px;
    color: #333;
}

.intro p {
    margin-bottom: 20px;
    color: #555;
}

.button {
    display: inline-block;
    background-color: #fcd26f;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #6c5500;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form button {
    background-color: #fcd26f;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #6c5500;
}

button {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: white;
}


/* Responsive styles */
@media (max-width: 768px) {
    header nav ul li {
        display: block;
        margin: 5px 0;
    }

    main {
        padding: 10px;
    }

    main section {
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 24px;
    }

    form input, form textarea {
        font-size: 14px;
    }

    form button {
        padding: 8px 16px;
        font-size: 14px;
    }
}
